
@font-face {
  font-family: title;
  src: url("/fonts/Dancing_script/static/DancingScript-Bold.ttf");
}

@font-face {
  font-family: all;
  src: url("/fonts/Open_Sans/static/OpenSans_Condensed-Regular.ttf");
}



*{
  margin: 0;
  font-family: all;

  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;

  background-image: url("/photos/beige.jpg");
  background-size: contain;
}


/* header */


.fixedheader{

    position: fixed;
    z-index: 4;

}

header{
  /* position: relative; */
  height: 70px;
  width: 100%;
  background-color: #ebddb1;
  box-shadow: 0 1px 5px 0px rgb(117, 121, 65);
  padding-left: 20px;
  padding-right : 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 1000ms ease;
}



.logo{
  width:70px;
}
nav{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  
}

.search{
  width: 40%;
  height: 60%;

  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchicon:hover{
  cursor: pointer;
  background-color:#8ab163 ;

}
.search input {
  min-width: 100px;
  outline: none;
  border: none;
  border-left :solid 1px #668c3f;
  border-right: solid 1px #668c3f;
  background-color: rgba(0, 0, 0, 0);
  width: 120%;
  font-size: large;
  height: 100%;
  margin-right: 30px;
  margin-left: 13px;
  border-radius: 15px;
  padding-left: 4px;
}


.navl{
  text-decoration: none;
  font-size: 22px;
  color: #668c3f;
}
.navl:hover{
  color: #8eb369;
  cursor: pointer;
}
.navl:active{
  text-shadow: 1px 1px 2px #a5cc7f;
}


.cats{
  display: flex;
  align-items: center;
}
.profile{
  width: 10%;
  height: 50%;
  background-color: #8c6239;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}
.profile button{
  width: 50%;
  height: 100%;
  border-style: none;
  color: aliceblue;


}
.profile button:hover{
  background-color: #96bb72;
  cursor: pointer;
}

.probl{
  font-size: 18px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #668c3f;
  border-right-style: solid !important;
  border-color: #3c5a1d79;
  
}
.probr{
  font-size: 18px;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #668c3f;
  
}


.hcategories{
  position: fixed;
  z-index: 3;
  top: 70px;
  width: 100%;
  height: 220px;
  background-color: #ebd781;
    display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
  color: white;
}


.category-section {
  width: 20%;
}

.category-section h3 {
  margin-bottom: 10px;
  font-size: 30px;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}

.category-section ul {
  list-style: none;
  padding: 0;
}

.category-section li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s;
}
.category-section li{
  font-size: 19px;
}

.category-section li:hover {
  color: #c99d00;
}

/* articles */


.maincontent{
  /* margin-top: 70px; */
  /* background-color: aqua; */
  min-height: calc(100vh - 70px);
  height: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}
.mainarticle{
  width: 36%;
  height: 75%;
  /* background-color: #fff; */
}
.slidercontainer{
  height: 400px;
  max-height: 75%;
  width: 50%;
  background-color: #fff;


}

h1{
  font-family: title;
  font-size: 65px;
  margin-bottom: 40px;
  color: #3e3e3e;
}
p{
  font-family: all;
  font-size: 33px;
  color: #7a7a7a;
}
.ques{
  font-size: 25px;
  margin: 22px 0;
  color: #dbb50c;
}
.btncont{
  width: 100%;
  display: flex;
  justify-content: center;
}
.explore{
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  width: 40%;
  font-family: all;
  font-size: 25px;
  border-radius: 11px;
  border-style: none;
  background-color: #45c57a;
  padding: 3px 0;
  color: aliceblue;
}
.explore:hover{
  background-color: #65d895;
  cursor: pointer;
}

/* slider section */

.slidercase{
  width: 100%;
  height: 100%;
  background-color: #5a0c0c;
  box-shadow: 0px 0px 9px 9px rgba(102, 89, 19, 0.534);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.imgbelt{
    min-width: 100%;
  height: 100%;
  background-color: #a55e5e;
  display: flex;
  transition: all 800ms ease;
}


.switchcase{
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse 55% 80% , rgba(26, 22, 22, 0),rgb(26, 22, 22));
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all 500ms ease;
}
.switchcase:hover{
  opacity: 1;

}

.leftswitch:active ,.rightswitch:active{
  border-radius: 30px;
  background-color: #ffffff5e;
}

.leftswitch:hover ,.rightswitch:hover{
  cursor: pointer;
}




/* main content */
/* categories */
.categories{
  height: 270px;
  max-height: 600%;
  background-color: #e6ffad;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 3px 3px rgba(211, 195, 49, 0.397);
}



.cat{
  border: solid 2px rgba(46, 31, 0, 0.541);
  flex-shrink: 0;
  height: 85%;
  width: 18%;
  overflow: hidden;
  border-radius: 12px;
  position: relative;

}
.cat img{
  width: 100%;
  height: 100%;
}
.hovertitle{
  position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    background-color: #9e9d7879;
  transition: all 300ms ease;
  top: 100%;

}
.hovertitle p {
  text-align: center;
  font-size: 45px;
  color: #00940c;
  text-shadow: 2px 2px 4px #00682b;
}
.cat:hover{
  cursor: pointer;
  .hovertitle{
    top: 0;
    left: 0;
  }

}


/* articles */


.articles{
  height:100vh;
  background-color: #3e3e3e48;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 20px 8px;
  padding: 20px 20px;
}
.show ,.topic1,.topic2,.topic3,.topic4 {
  border-radius: 15px;
  overflow: hidden;
  /* background-color: #7a450062; */
  background-color: #86694e;
}
.show  {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-row: 1/5;
}
.show video{

  height: 100%;
  border-radius: 15px;

}

.showp{
  min-height: 70%;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-left: 33px; */
  align-items: center;
}
.showp h3{
  font-size: 50px;
  padding: 0 10px;
  color: #00ff6a;
  text-shadow: 2px 2px 4px #00682b;
  

}
.showp p{
  padding-left: 15px;
  font-size: 40px !important;
  color: #000000;
  margin-bottom: 50px;
}


.topic1{
  padding: 5px;

  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
}
.topic2{
  padding: 5px;
}
.topic3{
  padding: 5px;
}
.topic1 img {
  width: 50%;
  border-radius: 15px;
}
.topic2 img {
  width: 50%;
  border-radius: 15px;
}
.topic3 img{
    border-radius: 15px;
}
.t1p ,.t2p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.t1p p,.t2p p ,.t3p p,.t4p p{
  text-align: center;
  color: #00ff6a;
  text-shadow: 2px 2px 4px #00682b;
}




.topic2{
  grid-column: 3/4;
  grid-row: 2/3;
    display: flex;
  justify-content: space-between;
}
.topic3{
  grid-column: 4/5;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.topic3 img {
  height: 80%;
  border-radius:15px ;
}

.t3p{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}






.topic4{
  grid-column: 3/5;
  grid-row: 3/5;
  display: flex;
  justify-content: center;
  align-items: center;

}
.t4c{
  width: 97%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t4c img{
  width: 65%;
  border-radius: 15px;
}
.t4p{
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.topic1, .topic2 ,.topic3,.topic4,.show{
  box-shadow: 0px 0px 1px 1px rgba(102, 89, 19, 0.534);
}
.t4c img {
  height: 100%;
}



/* footer */

.footer {
  position: relative;
  z-index: 100;
  background-image: url('/photos/biegefooter.jpg');
  background-size: cover;
  color: #eee;
  padding: 40px 20px;
  font-family: sans-serif;
  box-shadow: -1px -1px 5px rgb(85, 85, 0);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 200px;
  min-width: 200px;
}


.footer-section h3 {
  color: #00a545;
  /* text-shadow: 2px 2px 4px #00682b; */
  margin-bottom: 15px;
}

.footer-section p,
.footer-section li,
.footer-section a {
  font-size: 14px;
  color: #3f3f3f;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section a {
  text-decoration: none;
  color: #706b5e;
  transition: color 0.3s;
}
.footer-section a:hover {
  color: #ffee00;
}

.footer-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-section input {
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.footer-section button {
  padding: 10px;
  border: none;
  background-color: #19d367;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}
.footer-section button:hover {
  background-color: #0fb658;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #888;
  border-top: 1px solid #333;
  padding-top: 15px;
}

h2{
  font-family: title;
  font-size: 40px;
    margin-bottom: 30px;
    color: #3e3e3e !important;
}


.modalblur{
  width: 100vw;
  height: 100vh;
  background-color: rgba(92, 85, 70, 0.377);
}

.modal{
  position: fixed;
  width: 26%;
  max-height: 70%;

  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(233, 0, 0); */
  overflow: hidden;
  border-radius: 15px;
  background-color: #eedbb7;
  border:  solid 2px  #d4ae68;
  padding: 20px;
  padding-bottom: 30px;

}

.close{
  position: absolute;
  top: 5px;
  right: 5px;
}
.close:hover{
  cursor: pointer;
}



.log , .sign {
  margin-top: 40px;
  display: flex;
  align-items: center;

  flex-direction: column;
  width: 100%;
  height: 100%;
}


.log h3 ,.sign h3{
  font-size: 40px;
  color: #00a545;
  
}

.log form ,.sign form {
  margin-top: 30px;
  width: 70%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #fff; */
  gap: 20px;
}

.modal input{
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: #eedbb7;
  margin-bottom: 5px;
  margin-top: 20px;
  border: none;
  border-bottom: solid 1px #00a545;
  font-size: 20px;
  outline: none;

} 

.passcase{
  width: 100%;
}

.passcase p{
  font-size: 14px;
}
.passcase span{
  color:#00682b;
}
.passcase span:hover{
  cursor: pointer;
  color:#24a55a;
}



.log form button,.sign form button {
  margin-bottom: 20px;
  width: 50%;
  font-size: 22px;
  padding: 10px;
  border: none;
  background-color: #19d367;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}
.log form button:hover ,.sign form button:hover{
  background-color: #0fb658;
}


form .create{
  margin-top: auto;
  color: gray;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.create span{

  color:#00682b;
}
.create span:hover{
  cursor: pointer;
  color:#24a55a;
}


.sign input{
  margin-top: 10px;
}


@media (max-width:1200px){
  .showp h3{
    font-size: 40px;
  }
  .showp p {
    font-size: 28px !important;
  }
}
@media(max-width:950px){
    .modal{
    width: 70%;
  }
  .navl{
    display: none;
  }
  .profile button{
    width: 100%;
  }
  .probl{
    display: none;
  }
    .showp{
    display: none;
  }
    .show video{
    width: 100%;
    height: 100%;
  }
}

@media (max-width:700px){
  .modal{
    width: 70%;
  }
  .maincontent{
    flex-direction: column;
    align-items: center;



  }

  .mainarticle{
    width: 75%;
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .slidercontainer{
    width: 75%;
    margin-bottom: 30px;
  }
  .categories{
    height: fit-content;
    margin-bottom: 20px;
  }
  .cat{
    margin-top: 15px;
    height: 180px;
    width: 30%;
    margin-bottom: 15px;
  }
  .articles{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(8,1fr);
  height: 180vh;
  }
  .topic1{
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .topic2{
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .topic3{
    grid-column: 2/3;
    grid-row: 5/7;
  }
  .topic4{
    grid-row: 7/9;
    grid-column: 1/3;
  }

  .show{
    /* height: 60vh; */
    flex-direction: column;
  }

}